* {
  box-sizing: border-box;
  margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: solid;
    border-color:green;
    border-width: 2px;
    margin: 0;
}

header {
 background-color: red;
 text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vmax;
    margin: 0;
    background-color: blue;
}

#know-cocktail {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 20px;
}

#show-cocktail-name {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;  
    display: grid;
    text-align: center;
}

#random-cocktail{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; 
    padding:20px;
}

#show-random-drink {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2; 
}

#chuck-quote {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;   
    padding: 20px;
}

#show-quote {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;  
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

form{
    padding-top:0px;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
}


button {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border: 2px solid 0.8px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
}

img {
    height: 175px;
    width:175px;
}