.container {
    width: 100%;
    padding: 30px;
    padding-top:10px ;
    margin-right: auto;
    margin-left: auto;
}

body{
    height: 100vw;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: 2px;
    box-sizing: border-box;
}

#cocktailAndRandom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 200px;

}

#showRecipe{
    grid-column: 2;
    color: red;
}

#showRandomDrink{
    grid-column: 2;
    color: red
}

#showQuote{
    grid-column: 2;
    color: red;
}


#cocktailImage {
    height: 175px;
    width: 175px;
}